.chat-box{
    position: fixed;
    border-radius: 10px;
    overflow: hidden;
    bottom: 50px;
    right: 50px; 
    width: 350px; 
    height: 500px;
    box-shadow: 0px 2px 10px var(--accent-color);
    background-color: rgb(249, 253, 249);
    z-index: 999;
}

.chat-box .header{
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: white;
}

.support-chat .chat-button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 55px;
    transition: background-color 0.2s ease-in;
    color: rgb(255, 255, 255);
}
.support-chat .chat-button:hover{
    background-color: color-mix(in srgb, var(--accent-color), transparent 30%);
}
.support-chat .chat-button:active{
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}
